.subtitulo{
    text-align: center;
    margin-top: 10px;
}

.imagen {
    display: block; 
    margin: 0 auto; 
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;

}

.texto {
    color: gray;
}

.dev{
    align-items: center;
}

.boton {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    font-weight: bold;
}
