<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-color-light">
  <form action="">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href=""></ion-back-button>
      </ion-buttons>
      <ion-title>RegistrAPP</ion-title>
    </ion-toolbar>
    <div class="ion-padding dev">
      <img class="imagen" width="150rem" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <div class="subtitulo">
        <h1>Recupera tú contraseña</h1>
        <p class="texto">Ingresa tu nombre de usuario para recuperar la contraseña</p>
      </div><br>
      <ion-item>
        <ion-input  placeholder="Ingresa tu nombre de usuario"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item><br><br><br>
      <ion-button color="warning" class="boton" expand="block">Recuperar</ion-button>
    </div>
  </form>
</ion-content>