<ion-content class="ion-padding"><br><br>
  <ion-card>
    <ion-img src="assets/icon/Registrapp.png" alt="Logo"></ion-img>
  </ion-card>
  <h1>INICIAR SESION</h1>
  <ion-item>
    <ion-input label="Nombre de Usuario" [(ngModel)]="usuario" label-placement="floating"
      placeholder="Ingresa tu nombre de usuario"></ion-input>
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>

  <br><br>
  <ion-item>
    <ion-input type="password" label="Contraseña" label-placement="floating"
      placeholder="Ingresa tu nombre de usuario"></ion-input>
    <ion-icon name="lock-closed"></ion-icon>
  </ion-item>
  <br>
  <a [routerLink]="['/recuperacion']">¿Has olvidado tu contraseña?</a>

  <br><br>
  <ion-button color="warning" expand="block" (click)="IrHomePage()">Iniciar sesion</ion-button><br>

</ion-content>