
a{
    text-align: center;
    justify-content: center;
}

ion-button{
    font-weight: bold;
}

h1{
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
ion-content{
    top: -45px;
}


