
<ion-content class="ion-padding"><br><br>
  <ion-card>
    <ion-img src="assets/icon/Registrapp.png" alt="Logo"></ion-img>
  </ion-card>
  <h1>INICIAR SESION</h1>
  <ion-item>
    <ion-input label="Nombre de Usuario" [(ngModel)]="user.username" label-placement="floating"
      placeholder="Ingresa tu nombre de usuario"></ion-input>
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>

  <br>
  <ion-item>
    <ion-input type="password" label="Contraseña"  [(ngModel)]="user.password" label-placement="floating"
      placeholder="Ingresa tu nombre de usuario"></ion-input>
    <ion-icon name="lock-closed"></ion-icon>
  </ion-item>
  <br>
  <section class="seccion">
    <mat-checkbox color="primary" class="check">Recordar</mat-checkbox>
    <a class="a" [routerLink]="['/recuperacion']">¿Olvidaste tu contraseña?</a>
  </section>

  <br><br>
  <ion-button color="warning" expand="block" (click)="IrHomePage()">Iniciar sesion</ion-button>


</ion-content>