<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-back-button default-href=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-buttons slot="start">
    <ion-back-button default-href=""></ion-back-button>
  </ion-buttons>
  <img src="assets/icon/NotFound404.png" alt="error 404">
  <div>
    <h1> ¡UPS!... ERROR 404</h1>
    <p> ¡Lo sentimos!, No podemos encontrar la pagina que estas buscando.</p>
  </div>
  <button mat-raised-button color="primary">Volver</button>
</ion-content>